*.sw?
*/*.sw?
*/*/*.sw?
dbgpClient/certs
dbgpClient/client-certs
dbgpClient/dbgpClient
dbgpClient/dbgpClient-IBMi
dbgpClient/dbgpClient-arm64
dbgpClient/dbgpClient-macos
dbgpClient/dbgpClient-macos-arm64
dbgpClient/dbgpClient.exe
dbgpProxy/certs
dbgpProxy/client-certs
dbgpProxy/dbgpProxy
dbgpProxy/dbgpProxy-IBMi
dbgpProxy/dbgpProxy-arm64
dbgpProxy/dbgpProxy-macos
dbgpProxy/dbgpProxy-macos-arm64
dbgpProxy/dbgpProxy.exe
vendor/
xdebug/xdebug
xdebug/xdebug-IBMi
xdebug/xdebug-arm64
xdebug/xdebug-macos
xdebug/xdebug-macos-arm64
xdebug/xdebug.exe
